@charset "utf-8";
/****************************************************
  Baker & McKenzie

  0. Design Notes
  1. HTML elements
  2. Structure
  3. Navigation
  4. Modular / Icons
  5. General
  6. Media Queries
  7. Yo Fonts Mama

****************************************************/

/****************************************************
  0. Design Notes
****************************************************/

/* non-responsive, OOTB SP2013 build, supplemented
  with a few stylistic/custom features */

/* anything with prefix __proto__ is for prototyping only */

.__proto__-tiles {
  width: 34.75em; 
  margin: 2em 0 0 0.875em;
}


/****************************************************
  1. HTML Elements
****************************************************/

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe', 'Arial', sans-serif;
}

header {
  max-height: 3.5em;
  position: relative;
}

nav {
  position: absolute;
  /* margin-left: 1em; */
  /* margin-top: 1em; */
  left: 0.6em;
  bottom: 0.3em;
}
  nav img {
    display: inline-block;
  }


/****************************************************
  2. Structure
****************************************************/

.subheader {
  height: 4em;
  background: url('../img/header-scallion.png') 0 0 no-repeat;
}


/****************************************************
  3. Navigation
****************************************************/

/* blankity blank blank */


/****************************************************
  4. Modular
****************************************************/

.bg-bm-red      { background: #A71A30; background: rgba(167, 26, 48, 1); }

.bg-teal        { background: #31C7D8; background: rgba(49, 199, 216, 1); }
.bg-sunflower   { background: #FFC34C; background: rgba(255, 195, 76, 1); }
.bg-blue-dark   { background: #145E80; background: rgba(20, 94, 128, 1); }
.bg-white       { background: #FFFFFF; background: rgba(255, 255, 255, 1); }
.bg-grey        { background: #666666; background: rgba(102, 102, 102, 1); }
.bg-eggshell    { background: #F1F1F1; background: rgba(241, 241, 241, 1); }
.bg-black       { background: #000000; background: rgba(0, 0, 0, 1); }
.bg-spruce      { background: #20674e; background: rgba(32, 103, 78, 1); }
.bg-eggplant    { background: #652965; background: rgba(101, 41, 101, 1); }

.txt-bm-red     { color: #A71A30; color: rgba(167, 26, 48, 1); }
.txt-black      { color: #000000; color: rgba(0, 0, 0, 1); }
.txt-blue-light { color: #34C3FF; color: rgba(52, 195, 255, 1); }
.txt-blue-dark  { color: #145E80; color: rgba(20, 94, 128, 1); }
.txt-grey       { color: #666666; color: rgba(102, 102, 102, 1); }
.txt-sunflower  { color: #FFC34C; color: rgba(255, 195, 76, 1); }
.txt-teal       { color: #31C7D8; color: rgba(49, 199, 216, 1); }
.txt-white      { color: #FFFFFF; color: rgba(255, 255, 255, 1); }

.no-decor { text-decoration: none; }

.icon-facebook:before           { content: '\e600'; }
.icon-link:before               { content: '\e601'; }
.icon-weather:before            { content: '\e602'; }
.icon-menu2:before              { content: '\e603'; }
.icon-tools:before              { content: '\e604'; }
.icon-person:before             { content: '\e605'; }
.icon-project:before            { content: '\e606'; }
.icon-home:before               { content: '\e607'; }
.icon-close:before              { content: '\e608'; }
.icon-arrowdown:before          { content: '\e609'; }
.icon-search:before             { content: '\e610'; }
.icon-hamburger:before          { content: '\e611'; }
.icon-view:before               { content: '\e612'; }
.icon-pinterest:before          { content: '\e613'; }
.icon-gplus:before              { content: '\e614'; }
.icon-twitter:before            { content: '\e615'; }
.icon-arrowrightfill:before     { content: '\e616'; }
.icon-arrowrightflat:before     { content: '\e617'; }
.icon-survey:before             { content: '\e618'; }
.icon-emailreport:before        { content: '\e619'; }
.icon-calendar:before           { content: '\e620'; }
.icon-notes:before              { content: '\e621'; }
.icon-gallery:before            { content: '\e622'; }
.icon-arrowleftflat:before      { content: '\e623'; }
.icon-phone:before              { content: '\e624'; }
.icon-sites:before              { content: '\e625'; }
.icon-question:before           { content: '\e626'; }
.icon-company:before            { content: '\e627'; }
.icon-clock:before              { content: '\e628'; }
.icon-searchperson:before       { content: '\e629'; }
.icon-payroll:before            { content: '\e630'; }
.icon-travel:before             { content: '\e631'; }
.icon-arrowrightslider:before   { content: '\e632'; }
.icon-arrowleftslider:before    { content: '\e633'; }
.icon-arrowleftpointed:before   { content: '\e634'; }
.icon-arrowrightpointed:before  { content: '\e635'; }
.icon-teamsite:before           { content: '\e636'; }
.icon-projectsite:before        { content: '\e637'; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

  .clearfix:after {
    clear: both;
  }

.tile {
  float: left;
  position: relative;
  margin: 0.563em; /* 9px */ 
  width: 9.250em; /* 148px */
  height: 8.125em; /* 130px */
  border: 1px solid #D6D6D6;
}

  .tile:hover {
    cursor: pointer;
  }

.tile-content {
  bottom: 0;
  left: 0;
  overflow: hidden; /* just in case */
  position: absolute;
  right: 0;
  top: 0;
}

.tile-label {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
  height: 3em; /* 48px */
  padding-left: 0.5em;
  line-height: 1.75em;
  border-top: 1px solid #D6D6D6;
}

.tile-label:after, .tile-label:before {
  bottom: 90%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tile-label:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFFFFF;
  border-width: 8px;
  margin-left: -8px;
}

.tile-label:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #FFFFFF;
  border-width: 10px;
  margin-left: -10px;
}

  .tile-label > p {
    font-size: 0.65rem;
    padding: 0;
    margin: 0;
    width: 10em;
    line-height: 1.1em;
    margin-top: 0.8em;
  }

.tile-label-arrow {
  width: 1rem;
  height: 1.75rem;
  background: url('../img/bak-arrow.png') 0 0 no-repeat;
  display: block;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

.alpha-vertical { margin-top: 0; padding-top: 0; }
.alpha-horizontal { margin-left: 0; padding-left: 0; }

.omega-vertical { margin-bottom: 0; padding-bottom: 0; }
.omega-horizontal { margin-right: 0; padding-right: 0; }

/****************************************************
  5. General
****************************************************/

.header-logo {
  float: right;
}

.header-nav-home {
  float: left;
  line-height: 0.9em;
}

.header-nav-categories {
  float: left;
}

  .header-nav-categories a {
    text-decoration: none;
    display: block;
    font-size: 0.875em;
    margin: 0 0 0 4em;
    float: left;
    font-family: sans-serif;
    font-weight: lighter;
  }

    .header-nav-categories a span {
      margin-left: 0.5em;
      font-size: 0.85em;
    }

.header-nav-sp {
  float: right;
}

.header-edge {
  padding: 0;
  margin: 0;
}

.header-edge {
  height: 1.6em;
}

.header-edge img {
  width: 100%;
  height: 0.8em;
}

.subheader-title {
  font-size: 1.625em;
  font-family: sans-serif;
  line-height: 2.4em;
  margin-left: .4em;
  font-weight: 300;
}




/****************************************************
  6. Media Queries
****************************************************/


  /* This section left intentionally (mostly) blank */

/*
_____/\\\\\\\\\\\\__/\\\\\\\\\\\__/\\\\\\\\\\\\\\\_____/\\\\\\\\\\\__________
 ___/\\\//////////__\/////\\\///__\///////\\\/////____/\\\/////////\\\_____
  __/\\\_________________\/\\\___________\/\\\________\//\\\______\///____
   _\/\\\____/\\\\\\\_____\/\\\___________\/\\\_________\////\\\_________
    _\/\\\___\/////\\\_____\/\\\___________\/\\\____________\////\\\_____
     _\/\\\_______\/\\\_____\/\\\___________\/\\\_______________\////\\\___
      _\/\\\_______\/\\\_____\/\\\___________\/\\\________/\\\______\//\\\__
       _\//\\\\\\\\\\\\/___/\\\\\\\\\\\_______\/\\\_______\///\\\\\\\\\\\/__
        __\////////////____\///////////________\///__________\///////////__
*/



/****************************************************
  7. Yo Fonts Mama
****************************************************/

@font-face {
    font-family: "tpglyph";
    src:url("../fonts/tpglyph.eot");
    src:url("../fonts/tpglyph.eot?#iefix") format("embedded-opentype"),
      url("../fonts/tpglyph.ttf") format("truetype"),
      url("../fonts/tpglyph.woff") format("woff"),
      url("../fonts/tpglyph.svg#tpglyph") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class*="icon-"]{
  font-family: "tpglyph";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

